---
import { Fragment } from "astro/jsx-runtime";
import { siteConfig } from "../config/site";
---

<footer>
  <div class="footer-content">
    <div class="footer-text">
      {siteConfig.footer.copyright}
    </div>
  </div>
</footer>

